<footer>
    <div class="footer-content">
        <nav>
        <a href="/">Home</a>
        <a  href="#">About</a>
        <a  href="#">Contact</a>
        </nav>
        <p>&copy; 2025 by Joaquin Galang. All rights reserved.</p>
    </div>
</footer>