
body {
    margin: 0;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
    background-color: #F0F0F0;
}

.navbar {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #121212;
    color: white;
}

.navbar * {
    padding: 0rem 2rem;
}

nav a {
    color: white;
    text-decoration: none;
}

.hamburger-btn {
    padding: 0;
    margin: 2rem;
    background-color: #121212;
    border: 1px solid white;
    border-radius: 5px;
    transition: background-color 500ms ease;
}

.hamburger-btn:hover {
    background-color: gray;
}

.hamburger-icon {
    margin: 0.5rem 0;
    padding: 0rem 0.75rem;
}

.hamburger-icon div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
    padding: 0;
}

.inactive {
    display: none;
}

.hero .background {
    background-image: url("https://plus.unsplash.com/premium_photo-1684581214880-2043e5bc8b8b?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8YmxvZyUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D");
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    /* max-height: 50rem; */
    filter: brightness(0.7);
}

.hero-title {
    user-select: none;
}

.content {

    /* Display */
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* Position */
    position: absolute;
    top: 3.8rem;

    /* Text Style */
    color: white;
    text-align: center;
    font-size: 2rem;
}

.blogs {
    margin: 4rem 5rem;
}

.grid-view {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.blog-post {
    height: 17rem;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 10px #b3b3b3;
    cursor: pointer;
    transition: transform 250ms ease;
}

.blog-post:hover {
    transform: scale(1.025);
}

.add {
    background-color: #E3E3E3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add img {
    width: 7rem;
    filter: contrast(0);
}

.add p {
    margin: 0;
    color: #848484;
    font-size: 1.2rem;
    font-weight: 400;
}

.blog-thumbnail {
    width: 100%;
    max-height: 11rem;
    object-fit: cover;
    border-radius: 0.5rem 0.5rem 0rem 0rem;
}

.blog-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 1rem;
    padding: 0;
}

.blog-title {
    margin: 0;
    font-size: 1.2rem;
}

.blog-desc {
    margin: 0;
    font-weight: normal;
}

.more-icon {
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.5rem;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms ease-in;
}

.more-icon:hover {
    background-color: #F0F0F0;
}

.more-icon div {
    background-color: #333;
    border-radius: 50%;
    margin: 2px;
    width: 5px;
    height: 5px;
}

footer {
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #121212;
    color: white;
}

footer nav > * {
    padding: 0rem 1.5rem;
    font-weight: normal;
}

footer > * {
    font-weight: normal;
}

@media (max-width: 550px) {
    .grid-view {
        display: block;
    }

    .blog-post {
        margin-bottom: 2rem;
    }
}

@media (min-width: 551px) and (max-width: 951px) {
    .grid-view {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1251px) {
    .blogs {
        margin: 4rem 15em;
    }

    .blog-post {
        height: 19rem;
    }

    .blog-post .add {
        height: 19rem;
    }

    .blog-thumbnail {
        max-height: 13rem;
    }

}

@media (max-width: 564px) {
    .nav-options {
        position: absolute;
        top: 4rem;
        right: 0;
        background: #121212;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
        padding: 0;
        z-index: 100;
    }
    .nav-options a {
        display: block;
        padding: 1rem 2rem;
        border-bottom: 1px solid #333;
    }
    .navbar {
        position: relative;
    }
}